@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 254, 214, 174;
  --background-rgb: 41, 41, 41;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
